.page {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: 99px;
}

.page-bar {
    height: 84px;
    display: block;
    border-bottom: 2px solid;
    border-color: #a0a0a0;
}

.mgn-425 {
    margin-right: 425px;
}
