.course-container {
    display: flex;
}

.large-container {
    width: 275px;
    height: 300px;
    border: 3px solid;
    display: block;
    border-radius: 8px;
    margin-right: 50px;

    &.cg {
        background-color: #9a2ae4;
        border-color: #9a2ae4;
    }

    &.sd {
        background-color: #dab53e;
        border-color: #dab53e;
    }

    &.ui {
        background-color: #2fbad3;
        border-color: #2fbad3;
    }

    .course {
        font-size: 24px;
        padding: 3px;
        padding-left: 5px;
        background-color: #ffffff;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .bck-container {
        height: 42.5%;
        display: block;
    }

    .sm-container {
        border-top: 3px solid;
        height: 40px;
        background-color: #ffffff;
        padding-left: 10px;
        display: flex;
        font-size: 20px;
        line-height: 40px;

        &.cg {
            border-color: #9a2ae4;
        }

        &.sd {
            border-color: #dab53e;
        }

        &.ui {
            border-color: #2fbad3;
        }

        svg {
            padding-top: 10px;
            padding-right: 7px;
        }

        &.last {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .sm-title {
            &.ann,
            &.syll {
                padding-left: 3px;
            }

            &.upcoming {
                padding-left: 4px;
            }
        }

        .last-text {
            margin-left: auto;
            padding-right: 10px;
        }
    }
}

.link {
    color: #000;
    text-decoration: none;
}
