.top-nav {
    margin-bottom: 35px;
}

.nav {
    font-size: 18px;
    padding-right: 12px;
    color: #000000;

    &:hover {
        color: #e00122;

        svg {
            opacity: 0;
        }

        &:after {
            opacity: 1;
        }
    }

    &.active {
        color: #e00122;
    }
}
