.title {
    margin-top: -66px;
    font-size: xx-large;
    margin-bottom: 25px;
}

.flex-container {
    display: flex;

    .dash-left-container {
        width: 100%;
    }

    .dash-right-container {
        margin-left: 35px;
    }

    .mw {
        min-width: 375px;
    }
}
